* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

label {
    position: relative;
    width: 570px;
    height: 200px;
}

label input {
    position: absolute;
    opacity: 0; /* Hide the original checkbox */
    width: 100%;
    height: 100%;
    z-index: 2; /* Ensure it stays above the span for accessibility */
    cursor: pointer; /* Make it clear that this area is clickable */
}

label input:checked ~ span {
    background: #05be05;
    box-shadow: 0 15px 25px #05be0566;
}

label span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    border-radius: 100px;
    transition: 0.5s;
    z-index: 1;
    pointer-events: none; /* Prevent span from intercepting clicks */
    box-shadow: 0 15px 25px #fe000066;
}

label span i{
    position: absolute;
    top: 10px;
    left: 7px;
    width: 180px;
    height: 180px;
    background: #fff;
    border-radius: 50%;
    transition: 0.5s;
}

label input:checked ~ span i{
    left: 380px;
}

label span i::before{
    content: '';
    position: absolute;
    top: 45px;
    left: 35px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    box-shadow: 80px 0 0 red;
    transition: 0.5s;
}

label span i::after{
    content: '';
    position: absolute;
    bottom: 35px;
    left: calc(53% - 50px );
    width: 90px;
    height: 13px;
    border-radius: 10px;
    background-color: red;
    transition: 0.5s;
}

label input:checked ~ span i::before{
    background: #05be05;
    box-shadow: 80px 0 0 #05be05;

}

label input:checked ~ span i::after{
    background: #05be05;

    border-radius: 10px;
    height: 50px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}